<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalculadoraGood</title>
</head>
<body>
    <h1>Menu calculadora</h1>
    <ul>
      <li><a href="CalculoDeLaSuma?num1=700&num2=300">Sumar</a></li>
      <li><a href="CalculoDeLaResta?num1=20&num2=12">Restar</a></li>
      <li><a href="CalculoDeLaMultiplicacion?num1=2&num2=12">Multiplicar</a></li>
      <li><a href="CalculoDeLaDivision?num1=10&num2=2">Dividir</a></li>
      <li><a href="CalculoDeLaPotencia?num1=3&num2=2">Potencia</a></li>
    </ul>
</body>
</html>